@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

.btn {
  border-radius: 0;
  color: white;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 1rem 3.5rem;
}

.strive-red {
  color: #ef3d59;
}

.bg-strive-red {
  background-color: #ef3d59;
}

.bg-strive-dark {
  background-color: #181818;
}

header {
  color: white;
}

header h1 {
  font-weight: 800;
}
